In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
spark = SparkSession.builder\
                    .appName('Spar Nord Bank ATM')\
                    .master('local')\
                    .getOrCreate()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:
spark

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<pyspark.sql.session.SparkSession object at 0x7f27884c3190>

### Loading the Spar Nord Bank ATM Data

In [4]:
df = spark.read.load(path='/user/root/Spar_Nord_Bank_ATM_Data/part-m-00000',format='csv',inferSchema = True)
df.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+------+---+--------+---+---------------+------------------+--------------------+----+----+------+------+----+--------------------+----+----------+----+----+------+------+-------+--------------+------+----+----+----+----+-----+----+----+-------+--------------------+
| _c0|    _c1|_c2|   _c3|_c4|     _c5|_c6|            _c7|               _c8|                 _c9|_c10|_c11|  _c12|  _c13|_c14|                _c15|_c16|      _c17|_c18|_c19|  _c20|  _c21|   _c22|          _c23|  _c24|_c25|_c26|_c27|_c28| _c29|_c30|_c31|   _c32|                _c33|
+----+-------+---+------+---+--------+---+---------------+------------------+--------------------+----+----+------+------+----+--------------------+----+----------+----+----+------+------+-------+--------------+------+----+----+----+----+-----+----+----+-------+--------------------+
|2017|January|  1|Sunday|  0|  Active|  1|            NCR|        NÃƒÂ¦stved|         Farimagsvej|   8|4700|55.233|11.763| DKK|          MasterCard|5643|Withdrawal|null|null| 55.23|11.761|2616038|      Naestved|281.15|1014|  87|   7| 260|0.215|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  2|            NCR|          Vejgaard|          Hadsundvej|  20|9000|57.043|  9.95| DKK|          MasterCard|1764|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  2|            NCR|          Vejgaard|          Hadsundvej|  20|9000|57.043|  9.95| DKK|                VISA|1891|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  3|            NCR|             Ikast| RÃƒÂ¥dhusstrÃƒÂ¦det|  12|7430|56.139| 9.154| DKK|                VISA|4166|Withdrawal|null|null|56.139| 9.158|2619426|         Ikast|281.15|1011| 100|   6| 240|  0.0|  75| 300|Drizzle|light intensity d...|
|2017|January|  1|Sunday|  0|  Active|  4|            NCR|        Svogerslev|        BrÃƒÂ¸nsager|   1|4000|55.634|12.018| DKK|          MasterCard|5153|Withdrawal|null|null|55.642| 12.08|2614481|      Roskilde|280.61|1014|  87|   7| 260|  0.0|  88| 701|   Mist|                mist|
|2017|January|  1|Sunday|  0|  Active|  5|            NCR|              Nibe|              Torvet|   1|9240|56.983| 9.639| DKK|          MasterCard|3269|Withdrawal|null|null|56.981| 9.639|2616483|          Nibe|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|  Active|  6|            NCR|        Fredericia|    SjÃƒÂ¦llandsgade|  33|7000|55.564| 9.757| DKK|          MasterCard| 887|Withdrawal|null|null|55.566| 9.753|2621951|    Fredericia|281.15|1014|  93|   7| 230| 0.29|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|  Active|  7|Diebold Nixdorf|         Hjallerup|   Hjallerup Centret|  18|9320|57.168|10.148| DKK|  Mastercard - on-us|4626|Withdrawal|null|null|57.165|10.146|2620275|     Hjallerup|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|  Active|  8|            NCR|       GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|   1|7870|56.762| 8.867| DKK|          MasterCard| 470|Withdrawal|null|null|56.793| 8.853|2615964| Nykobing Mors|281.15|1011| 100|   6| 240|  0.0|  75| 300|Drizzle|light intensity d...|
|2017|January|  1|Sunday|  0|  Active|  9|Diebold Nixdorf|           Hadsund|           Storegade|  12|9560|56.716|10.114| DKK|                VISA|8473|Withdrawal|null|null|56.715|10.117|2620952|       Hadsund|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|  Active| 10|            NCR|    NÃƒÂ¸rresundby|              Torvet|   6|9400|57.059| 9.922| DKK|             Dankort| 953|Withdrawal|null|null|57.048| 9.919|2624886|       Aalborg|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|  Active| 11|            NCR|         Sauersvej|Fridtjof Nansens Vej|   2|9210|57.023|  9.94| DKK|        Visa Dankort|9346|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  2|            NCR|          Vejgaard|          Hadsundvej|  20|9000|57.043|  9.95| DKK|  Mastercard - on-us|3874|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive| 12|            NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|  12|9000|57.049| 9.922| DKK|  Mastercard - on-us|1329|Withdrawal|null|null|57.048| 9.919|2624886|       Aalborg|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|  Active| 13|            NCR|           SÃƒÂ¦by|          Vestergade|   3|9300|57.334|10.515| DKK|  Mastercard - on-us|5024|Withdrawal|null|null|57.441|10.537|2621927| Frederikshavn|281.14|1019|  94|  12| 251|1.275|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive| 14|            NCR|        HÃƒÂ¸rning|        NÃƒÂ¸rrealle|  12|8362|56.086|10.037| DKK|Visa Dankort - on-us|1133|Withdrawal|null|null|56.157|10.211|2624652|         Arhus|281.15|1012|  87|   5| 250|  0.0|  92| 300|Drizzle|light intensity d...|
|2017|January|  1|Sunday|  0|  Active| 15|            NCR|            Vestre|           Kastetvej|  36|9000|57.053| 9.905| DKK|          MasterCard| 594|Withdrawal|null|null|57.048| 9.919|2624886|       Aalborg|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive| 12|            NCR|ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|  12|9000|57.049| 9.922| DKK|  Mastercard - on-us|9570|Withdrawal|null|null|57.048| 9.919|2624886|       Aalborg|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive| 16|            NCR|             Skive|            Adelgade|   8|7800|56.567| 9.027| DKK|        Visa Dankort|6068|Withdrawal|null|null|56.567| 9.033|2613731|         Skive|281.15|1012| 100|   7| 240|  0.0|  75| 300|Drizzle|light intensity d...|
|2017|January|  1|Sunday|  0|  Active| 17|            NCR|           Randers|        ÃƒËœstervold|  16|8900|56.462|10.038| DKK|                VISA|1630|Withdrawal|null|null|56.715|10.117|2620952|       Hadsund|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
+----+-------+---+------+---+--------+---+---------------+------------------+--------------------+----+----+------+------+----+--------------------+----+----------+----+----+------+------+-------+--------------+------+----+----+----+----+-----+----+----+-------+--------------------+
only showing top 20 rows

Creating the schema since it has no columns

#### Creating the Schema

In [5]:
schema = StructType([StructField('year',IntegerType(),True),
                     StructField('month',StringType(),True),
                     StructField('day',IntegerType(),True),
                     StructField('weekday',StringType(),True),
                     StructField('hour',IntegerType(),True),
                     StructField('atm_status',StringType(),True),
                     StructField('atm_id',StringType(),True),
                     StructField('atm_manufacturer',StringType(),True),
                     StructField('atm_location',StringType(),True),
                     StructField('atm_street_name',StringType(),True),
                     StructField('atm_street_number',IntegerType(),True),
                     StructField('atm_zip_code',IntegerType(),True),
                     StructField('atm_lat',DoubleType(),True),
                     StructField('atm_lon',DoubleType(),True),
                     StructField('currency',StringType(),True),
                     StructField('card_type',StringType(),True),
                     StructField('transaction_amount',IntegerType(),True),
                     StructField('service',StringType(),True),
                     StructField('message_code',StringType(),True),
                     StructField('message_text',StringType(),True),
                     StructField('weather_lat',DoubleType(),True),
                     StructField('weather_lon',DoubleType(),True),
                     StructField('weather_city_id',IntegerType(),True),
                     StructField('weather_city_name',StringType(),True),
                     StructField('temp',DoubleType(),True),
                     StructField('pressure',IntegerType(),True),
                     StructField('humidity',IntegerType(),True),
                     StructField('wind_speed',IntegerType(),True),
                     StructField('wind_deg',IntegerType(),True),
                     StructField('rain_3h',DoubleType(),True),
                     StructField('clouds_all',IntegerType(),True),
                     StructField('weather_id',IntegerType(),True),
                     StructField('weather_main',StringType(),True),
                     StructField('weather_description',StringType(),True)])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [6]:
### loading the data with the created schema
df = spark.read.load(path='/user/root/Spar_Nord_Bank_ATM_Data/part-m-00000',format='csv',schema=schema,header=False)
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+------------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|    atm_street_name|atm_street_number|atm_zip_code|atm_lat|atm_lon|currency| card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+------------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|  NÃƒÂ¦stved|        Farimagsvej|                8|        4700| 55.233| 11.763|     DKK|MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|        9000| 57.043|   9.95|     DKK|MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|        9000| 57.043|   9.95|     DKK|      VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|        7430| 56.139|  9.154|     DKK|      VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|  Svogerslev|       BrÃƒÂ¸nsager|                1|        4000| 55.634| 12.018|     DKK|MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+------------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 5 rows

In [7]:
### checking for the number of records in the dataset
df.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [8]:
### Printing the schema 
df.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_street_name: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zip_code: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

### Creating Dimensions and Fact tables for further processing of data

##### Dimensions tables : Location , ATM , Date , Card

##### Location Dimension table

In [9]:
### selecting distinct records for location dimension tables
df_loc = df.select('atm_location','atm_street_name','atm_street_number','atm_zip_code','atm_lat','atm_lon').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [10]:
### adding a primary key for location dimension table
df_loc = df_loc.withColumn('loc_id',row_number().over(Window.partitionBy().orderBy(df['atm_location'])))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
df_loc.show(1)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+---------------+-----------------+------------+-------+-------+------+
|atm_location|atm_street_name|atm_street_number|atm_zip_code|atm_lat|atm_lon|loc_id|
+------------+---------------+-----------------+------------+-------+-------+------+
|     Aabybro|   ÃƒËœstergade|                6|        9440| 57.162|   9.73|     1|
+------------+---------------+-----------------+------------+-------+-------+------+
only showing top 1 row

In [12]:
### Renaming the location dimension table columns
df_dim_loc = df_loc.withColumnRenamed('atm_location','location').withColumnRenamed('atm_street_name','street_name')\
               .withColumnRenamed('atm_street_number','street_number').withColumnRenamed('atm_zip_code','zipcode')\
               .withColumnRenamed('atm_lat','lat').withColumnRenamed('atm_lon','lon')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [13]:
df_dim_loc.show(1)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+------------+-------------+-------+------+----+------+
|location| street_name|street_number|zipcode|   lat| lon|loc_id|
+--------+------------+-------------+-------+------+----+------+
| Aabybro|ÃƒËœstergade|            6|   9440|57.162|9.73|     1|
+--------+------------+-------------+-------+------+----+------+
only showing top 1 row

In [14]:
### Rearranging the location dimension table 
df_dim_loc = df_dim_loc.select('loc_id','location','street_name','street_number','zipcode','lat','lon')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [15]:
#### checking for the columns in location dimension table and the number of records
print(df_dim_loc.columns)
df_dim_loc.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['loc_id', 'location', 'street_name', 'street_number', 'zipcode', 'lat', 'lon']
109

##### ATM Dimension table

In [16]:
#### creating a dataframe with required columns
df_atm = df.select('atm_id','atm_manufacturer','atm_lat','atm_lon')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [17]:
### Renaming the column atm_id
df_atm = df_atm.withColumnRenamed('atm_id','atm_number')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [18]:
### joining the location dimension table with atm dataframe
df_atm  = df_atm.join(df_loc, on = ['atm_lat','atm_lon'], how = 'left')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [19]:
#### checking the column in atm dataframe
df_atm.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['atm_lat', 'atm_lon', 'atm_number', 'atm_manufacturer', 'atm_location', 'atm_street_name', 'atm_street_number', 'atm_zip_code', 'loc_id']

In [20]:
#### selecting the required columns with distinct records
df_atm = df_atm.select('atm_number','atm_manufacturer','loc_id').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [21]:
### renaming the column loc_id for ATM Dimension table
df_dim_atm = df_atm.withColumnRenamed('loc_id','atm_loc_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [22]:
### checking the columns 
df_dim_atm.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['atm_number', 'atm_manufacturer', 'atm_loc_id']

In [23]:
### adding a primary key for ATM dimension table
df_dim_atm = df_dim_atm.withColumn('atm_id',row_number().over(Window.partitionBy().orderBy(df_dim_atm['atm_number'])))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [24]:
df_dim_atm.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+----------------+----------+------+
|atm_number|atm_manufacturer|atm_loc_id|atm_id|
+----------+----------------+----------+------+
|         1|             NCR|        74|     1|
|        10|             NCR|        76|     2|
|       100|             NCR|        86|     3|
|       100|             NCR|        56|     4|
|       100|             NCR|        87|     5|
+----------+----------------+----------+------+
only showing top 5 rows

In [25]:
#### rearranging the columns in ATM dimension table
df_dim_atm = df_dim_atm.select('atm_id','atm_number','atm_manufacturer','atm_loc_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [26]:
#### checking for the columns in ATM dimension table
df_dim_atm.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['atm_id', 'atm_number', 'atm_manufacturer', 'atm_loc_id']

In [27]:
### Checking for number of records in the ATM dimension table
df_dim_atm.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

156

##### Date Dimension Table

In [28]:
#### creating a dataframe for Date Dimension table
df_date = df.select('year','month','day','hour','weekday')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [29]:
#### creating a full_date_time column
df_date = df_date.withColumn('full_date',concat_ws('-',df_date.year,df_date.month,df_date.day))
df_date = df_date.withColumn('full_time',concat_ws(':',df_date.hour,lit('00'),lit('00')))
df_date = df_date.withColumn('full_date_time',concat_ws(' ',df_date.full_date,df_date.full_time))
date_format = 'yyyy-MMMM-d H:mm:ss'
df_date = df_date.withColumn('full_date_time',to_timestamp(df_date.full_date_time,date_format))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [30]:
df_date.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+----+-------+--------------+---------+-------------------+
|year|  month|day|hour|weekday|     full_date|full_time|     full_date_time|
+----+-------+---+----+-------+--------------+---------+-------------------+
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-01-01 00:00:00|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-01-01 00:00:00|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-01-01 00:00:00|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-01-01 00:00:00|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-01-01 00:00:00|
+----+-------+---+----+-------+--------------+---------+-------------------+
only showing top 5 rows

In [31]:
#### selecting the required columns for date dimension table with distinct records
df_dim_date = df_date.select('year','month','day','hour','weekday','full_date_time').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [32]:
### Adding a primary key to the df_date
df_dim_date = df_dim_date.withColumn('date_id',row_number().over(Window.partitionBy().orderBy('full_date_time')))
df_dim_date.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+----+-------+-------------------+-------+
|year|  month|day|hour|weekday|     full_date_time|date_id|
+----+-------+---+----+-------+-------------------+-------+
|2017|January|  1|   0| Sunday|2017-01-01 00:00:00|      1|
|2017|January|  1|   1| Sunday|2017-01-01 01:00:00|      2|
|2017|January|  1|   2| Sunday|2017-01-01 02:00:00|      3|
|2017|January|  1|   3| Sunday|2017-01-01 03:00:00|      4|
|2017|January|  1|   4| Sunday|2017-01-01 04:00:00|      5|
|2017|January|  1|   5| Sunday|2017-01-01 05:00:00|      6|
|2017|January|  1|   6| Sunday|2017-01-01 06:00:00|      7|
|2017|January|  1|   7| Sunday|2017-01-01 07:00:00|      8|
|2017|January|  1|   8| Sunday|2017-01-01 08:00:00|      9|
|2017|January|  1|   9| Sunday|2017-01-01 09:00:00|     10|
+----+-------+---+----+-------+-------------------+-------+
only showing top 10 rows

In [33]:
#### re-arranging the columns for date dimension table
df_dim_date = df_dim_date.select('date_id','full_date_time','year','month','day','hour','weekday')
df_dim_date.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+-------------------+----+-------+---+----+-------+
|date_id|     full_date_time|year|  month|day|hour|weekday|
+-------+-------------------+----+-------+---+----+-------+
|      1|2017-01-01 00:00:00|2017|January|  1|   0| Sunday|
|      2|2017-01-01 01:00:00|2017|January|  1|   1| Sunday|
|      3|2017-01-01 02:00:00|2017|January|  1|   2| Sunday|
|      4|2017-01-01 03:00:00|2017|January|  1|   3| Sunday|
|      5|2017-01-01 04:00:00|2017|January|  1|   4| Sunday|
+-------+-------------------+----+-------+---+----+-------+
only showing top 5 rows

In [34]:
#### checking for the columns in date dimension table
df_dim_date.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['date_id', 'full_date_time', 'year', 'month', 'day', 'hour', 'weekday']

In [35]:
#### Checking for number of records in date dimension table
df_dim_date.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

8685

##### Card Dimension Table

In [36]:
#### creating a card dataframe for dimension table with distinct records
df_card = df.select('card_type').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [37]:
##### creating the primary key for card dimension table
df_dim_card = df_card.withColumn('card_type_id',row_number().over(Window.partitionBy().orderBy('card_type')))
df_dim_card.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+------------+
|          card_type|card_type_id|
+-------------------+------------+
|             CIRRUS|           1|
|            Dankort|           2|
|    Dankort - on-us|           3|
|        HÃƒÂ¦vekort|           4|
|HÃƒÂ¦vekort - on-us|           5|
+-------------------+------------+
only showing top 5 rows

In [38]:
### re-arranging the columns for date dimension table
df_dim_card = df_dim_card.select('card_type_id','card_type')
df_dim_card.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+-------------------+
|card_type_id|          card_type|
+------------+-------------------+
|           1|             CIRRUS|
|           2|            Dankort|
|           3|    Dankort - on-us|
|           4|        HÃƒÂ¦vekort|
|           5|HÃƒÂ¦vekort - on-us|
+------------+-------------------+
only showing top 5 rows

In [39]:
### checking for columns present in date dimension table
df_dim_card.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['card_type_id', 'card_type']

In [40]:
#### checking for number of records
df_dim_card.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

12

### Fact Table

In [41]:
### renaming the required columns before joining the original dataframe with location dimension table
df_fact_loc = df.withColumnRenamed('atm_location','location').withColumnRenamed('atm_street_name','street_name')\
                .withColumnRenamed('atm_street_number','street_number').withColumnRenamed('atm_zip_code','zipcode')\
                .withColumnRenamed('atm_lat','lat').withColumnRenamed('atm_lon','lon')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [42]:
### joining the spar nord dataframe with location dimension table
df_fact_loc = df_fact_loc.join(df_dim_loc, on = ['location','street_name','street_number','zipcode','lat','lon'],how='left')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [43]:
### checking for columns 
df_fact_loc.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['location', 'street_name', 'street_number', 'zipcode', 'lat', 'lon', 'year', 'month', 'day', 'weekday', 'hour', 'atm_status', 'atm_id', 'atm_manufacturer', 'currency', 'card_type', 'transaction_amount', 'service', 'message_code', 'message_text', 'weather_lat', 'weather_lon', 'weather_city_id', 'weather_city_name', 'temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description', 'loc_id']

In [44]:
### checking the number of records 
df_fact_loc.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [45]:
### renaming the required columns before joining the atm dimension table with fact table
df_fact_loc = df_fact_loc.withColumnRenamed('atm_id','atm_number').withColumnRenamed('loc_id','atm_loc_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [46]:
### joining the atm dimension with the fact table
df_fact_atm = df_fact_loc.join(df_dim_atm, on = ['atm_number','atm_manufacturer','atm_loc_id'],how = 'left')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [47]:
#### renaming the column
df_fact_atm  = df_fact_atm.withColumnRenamed('atm_loc_id','weather_loc_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [48]:
### Checking for number of records
df_fact_atm.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [49]:
### joining the df_fact_atm with date dimension table
df_fact_date = df_fact_atm.join(df_dim_date, on = ['year','month','day','hour','weekday'], how = 'left')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [50]:
### Checking for nunber of records
df_fact_date.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [51]:
### joining the df_fact_date with card dimension table
df_fact_trans = df_fact_date.join(df_dim_card, on = ['card_type'] , how = 'left')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [52]:
### Checking for number of records
df_fact_trans.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [58]:
### creating a primary key for fact table
df_fact_trans = df_fact_trans.withColumn('trans_id',row_number().over(Window.partitionBy().orderBy('date_id')))
df_fact_trans.show(1,True)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+
|trans_id|atm_id|weather_loc_id|date_id|card_type_id|atm_status|currency|   service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+--------+------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+
|       1|   119|            30|      1|           7|    Active|     DKK|Withdrawal|               470|        null|        null|    0.0|        75|       300|     Drizzle|light intensity d...|
+--------+------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+
only showing top 1 row

In [59]:
### checking for columns
df_fact_trans.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['trans_id', 'atm_id', 'weather_loc_id', 'date_id', 'card_type_id', 'atm_status', 'currency', 'service', 'transaction_amount', 'message_code', 'message_text', 'rain_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description']

In [60]:
#### re-arranging and selecting the requierd columns for fact table
df_fact_trans = df_fact_trans.select('trans_id','atm_id','weather_loc_id','date_id','card_type_id',
                                     'atm_status','currency','service','transaction_amount','message_code',
                                     'message_text','rain_3h','clouds_all','weather_id','weather_main','weather_description')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [61]:
#### checking for the columns
df_fact_trans.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['trans_id', 'atm_id', 'weather_loc_id', 'date_id', 'card_type_id', 'atm_status', 'currency', 'service', 'transaction_amount', 'message_code', 'message_text', 'rain_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description']

In [62]:
#### checking for number of records
df_fact_trans.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

### Writing fact and dimension table to AWS S3

In [63]:
### writing location dimension table to dimension_location folder in spar-nord-atm-pipeline
df_dim_loc.coalesce(1).write.format('csv').option('header','false').save('s3://spar-nord-atm-pipeline/dimension_location',mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [64]:
### writing atm dimension table to dimension_atm folder in spar-nord-atm-pipeline
df_dim_atm.coalesce(1).write.format('csv').option('header','false').save('s3://spar-nord-atm-pipeline/dimension_atm',mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [65]:
### writing date dimension table to dimension_date folder in spar-nord-atm-pipeline
df_dim_date.coalesce(1).write.format('csv').option('header','false').save('s3://spar-nord-atm-pipeline/dimension_date',mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [66]:
### writing card dimension table to dimension_card folder in spar-nord-atm-pipeline
df_dim_card.coalesce(1).write.format('csv').option('header','false').save('s3://spar-nord-atm-pipeline/dimension_card',mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [67]:
### writing fact transaction table to fact_transaction folder in spar-nord-atm-pipeline
df_fact_trans.coalesce(1).write.format('csv').option('header','false').save('s3://spar-nord-atm-pipeline/fact_transaction',mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…